
<!-- slider starts -->
<section class="slider_section slider_section_two mb-77  ">
    <!-- <div class="slider_area  owl-carousel px-0 col-12"> -->
      <picture>
         <source media="(max-width:570px)" srcset="../../assets/img/home/NEW-BannerMV.png">
         <img class="single_slider d-flex d-none d-md-block img-fluid w-100 " src="../../assets/img/home/NEW-Banner.png" >
     </picture> 

         
         <!-- <div class="container">
                 <div class="row">
                     <div class="col-12">
                         <div class="slider_content">
                             <h1>History Of Nucly </h1>
                         </div>
                     </div>
                 </div>
             </div>            -->
         <!-- </div> -->
     

        <!-- </div> -->
         
 </section>

 <!-- ROW 1 -->
<div class="container story" style="padding-left: 20px;">
    <a href="../story" style="text-decoration: none;"><h2 style="color: var(--secondary-color);">STORIES</h2></a>
    <hr style="height:1.5px; border-width:0;background-color: var(--secondary-color)">
<div class="row mt-30">
    <div class="col-lg-4 col-sm-12 mt-25 ">
            <div class="storiesbg3 storiesbg">
                <img src="../../assets/img/home/FG/04a.jpg">
            </div>
            <br>
            <h3>Nucly</h3><br>
            <p>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
    </div>


</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 <!-- ROW 2 -->
 <div class="container mt-30" style="padding-left: 20px;">
    <a href="../art" style="text-decoration: none;"><h2 style="color: var(--secondary-color);">SHORTS</h2></a>
        <hr style="height:1.5px; border-width:0;background-color: var(--secondary-color)">
        <div class="row mt-30">
            <div class="col-lg-4 col-sm-12 mt-25">
                <!-- <img src="assets/img/home/BG/crow.jpg" class="img-fluid w-100 h-50">
                <img src="assets/img/home/FG/crow1.jpg" class="box img-fluid w-100 h-50"> -->
                    <!-- <h5> 18+ </h5> -->
                    <br>
                    <!-- <?php  
                    // if($years >= '18'){
                    //   echo ' <a href="shorts-internal.php"> <div class="storiesbgcrow storiesbg"> 
                    //     <img src="assets/img/home/FG/crow1.jpg">
                    //     </div> </a> ' ;
                    // }
                    // else{
                    //     echo ' <a href="index.php"> <div class="storiesbgcrow storiesbg"> 
                    //     <img src="assets/img/home/FG/crow1.jpg">
                    //     </div> </a> ';
                    // }
                    ?> -->
                    <a href="shorts-internal.php"> <div class="storiesbgcrow storiesbg"> 
                         <img src="../../assets/img/home/FG/crow1.jpg">
                         </div> </a>
                    <br>
                    <h4> They Never Forget </h4>
                    <!-- <div class="wrapper"><div class="typing-demo"><b>They  Never forget</b></div></div> -->
                </div>
               <!-- <div class="col-lg-12 col-sm-12 mt-23">
                    <div class="knowmore_arrow">
                        <i class="fa fa-angle-double-right"></i>
                    </div>
                </div>
    -->
    
    
    
            </div>
        </div>
        <br>
        <br>
        <br>
        