<footer>
    <div class="row">
                   <div class="col-lg-12 ">
                   <div><img src="assets/img/logo/logo.png" style="height: 40px; margin-left: -0px" alt="" id="logo2"></div>
                       
                   <a href="https://instagram.com/tbs.spook?utm_medium=copy_link" class="fa fa-instagram"></a>
                   <a href="https://pin.it/1exJYEM" class="fa fa-pinterest"></a>
                   <a href="https://twitter.com/atablespoonofs1?s=0" class="fa fa-twitter"></a>
                   <a href="https://www.reddit.com/u/spook_baby?utm_medium=android_app&utm_source=share" class="fa fa-reddit"></a>
                   <br>
                   <p class="align-center">TERMS & CONDITIONS</p>
                   </div>
               </div>
</footer>
   
