 <!-- ROW 1 -->
 <div class="container">
    <h2 style="text-align: center;">ART</h2>
    <hr style="height:1.5px; border-width:0;background-color: var(--secondary-color)">
    <div class="row mt-30">
        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg1 storiesbg">
                <img src="assets/img/home/FG/03a.jpg">
            </div>
        </div>

        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg2 storiesbg">
                <img src="assets/img/home/FG/01a.jpg">
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg3 storiesbg">
                <img src="assets/img/home/FG/04a.jpg">
            </div>
        </div>
    </div>
</div>



<!-- ROW 3 -->
<div class="container mt-60">
    <div class="row mt-60">
        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg7 storiesbg">
                <img src="assets/img/home/FG/07a.jpg">
            </div>
        </div>

        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg8 storiesbg">
                <img src="assets/img/home/FG/08a.jpg">
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg9 storiesbg">
                <img src="assets/img/home/FG/09a.jpg">
            </div>
        </div>
    </div>
</div>


