<section class="slider_section slider_section_two mb-77">
  		
  	

    <div class="container">
        <div class="row">
            <div class="col-12">
  
                <h4 class="Abouthead text-center" style="font-family: 'Didact Gothic', sans-serif;font-size:38px; font-weight: lighter;">About</h4>
                <br>
                <p style= "font-family: 'Didact Gothic', sans-serif; text-align:justify;font-size:18px">Horror genre is a vast subject, there are countless things under the sky that can be considered as scary. Every individual creature is scared of something, which might be absolutely normal to the other one. To make you understand better I'd like to quote my favourite character and the ultimate diva herself, Morticia Addams "Normal is an illusion.
              What is normal for the spider is chaos for the fly." </p>
              <p style= "font-family: 'Didact Gothic', sans-serif; text-align:justify;font-size:18px">Horror genre is a vast subject, there are countless things under the sky that can be considered as scary. Every individual creature is scared of something, which might be absolutely normal to the other one. To make you understand better I'd like to quote my favourite character and the ultimate diva herself, Morticia Addams "Normal is an illusion.
                  What is normal for the spider is chaos for the fly." </p>
  
              <p style= "font-family: 'Didact Gothic', sans-serif; text-align:justify;font-size:18px"> A Tablespoon Of Spook was born out of sheer love for all the scary things based on Spook Baby's real life incidents and imagination. Exposed to horror genre at a very early age of three, Spook Baby acquired an undying love for this particular genre. Where movies like conjuring and the shining have people chills Spook Baby always felt a sense of comfort and warmth. Why the name A Tablespoon Of Spook? ATSOS is a just a tablespoon of spook Spook Baby can offer from this vast ocean of a genre. Thus with all the inspiration and passion Spook Baby has built throughout the years, here's an ode to the world of Horror or Spook.</p> 
  <br>
              <h4 class="Abouthead" style="font-family: 'Didact Gothic', sans-serif; text-align:center; font-size:38px; font-weight: lighter;">Disclaimer</h4>
              <br>
              <p style= "font-family: 'Didact Gothic', sans-serif; text-align:justify;font-size:18px"> With all due respect the website doesn't teach or promote any sort of violence or violation; hatred or abuse. This website is solely for entertainment purpose and not to inspire anybody in a wrong way, offend or promote anything vile.</p>
                
            </div>
        </div>
        
    </div>
    </section>
  