<script src="../../assets/js/header.js"></script>
<script src="../../assets/js/main.js"></script>
<header class="header_area">
    <!--header container start-->
    <div class="header_container header_container_two sticky-header">
        <div class="container-fluid">
            <div class="header_container_inner  container_position">
                <div class="logo">
                    <a href=" "><img src="../../assets/img/logo/logo.png"   alt="" id="logo1"></a>
                </div>
                <div class="header_container_right">
                    <div class="main_menu menu_two"> 
                        <nav>  
                              
                        </nav> 
                    </div>
                    <div class="header_block_right block_right_two">
                        <ul>
                        <li class="search_bar" style="margin-right:-25px;font-size:23px;"><a href="javascript:void(0)"><i class="ion-ios-search-strong"></i>
                        </a>
                            </li>
                            <!--<li class="mini_cart_wrapper"><a href="javascript:void(0)">login</a></li>-->
                            <li class="setting_container"><a href="javascript:void(0)" ><i class="ion-navicon"  style="font-size:25px;"></i></a>
                            </li>
                            <img src="../../assets/img/logo/moon.png" style="width:25px;height:35px;" id="icon">
                        
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!--header container end-->
    </div>
</header>
<!--header area end-->

  <!--Header Sidebar-->
<div class="setting_wrapper setting_wrapper_two">
    <div class="setting_close_btn">
        <i class="ion-android-close btn-close"> </i>
    </div>
    <!-- <div class="logo">
       <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
    </div>-->

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <nav class="navigation__nav">
                    <ul class="navigation__list">
                        <li class="navigation__item"><a href="../story" class="navigation__link"  style="margin-left: 12px;" >Stories </a></li>
                        <li class="navigation__item"><a href="../shorts" class="navigation__link" >Shorts </a></li>
                        <!--<li class="navigation__item"><a href="#" class="navigation__link"> &nbsp;&nbsp; Art &nbsp;&nbsp;</a></li>-->
                        <li class="navigation__item dv_about">  <a class="navigation__link"    href= "../about"  >About</a>
                             <!-- <?php  
                        
                                    // if($years >= '18'){
                                    //   echo ' <a class="navigation__link"    href= "about-us.php"  >About</a> ' ;
                                    // }
                                    // else{
                                    //     echo '<a class="navigation__link"    href= "index.php"  >About</a> ';
                                    // }
                                    ?> -->
                                </li>               
                        <!--<li class="navigation__item"><a href="#" class="navigation__link">Coffee with us</a></li>-->
                        <li class="navigation__item dv_extra"><a href="../form" class="navigation__link">Contact</a></li>
                        
                    </ul>
                </nav>
                
            </div>

            <div class="col-lg-3 col-sm-12">
                <ul class="#">
                        <li class="navigation__item_social"><a href="https://instagram.com/tbs.spook?utm_medium=copy_link" class="navigation__link_social">instagram </a></li>
                        <li class="navigation__item_social"><a href="https://www.reddit.com/u/spook_baby?utm_medium=android_app&utm_source=share" class="navigation__link_social">reddit</a></li>
                        <li class="navigation__item_social"><a href="https://twitter.com/atablespoonofs1?s=09" class="navigation__link_social">Twitter</a></li>
                        <li class="navigation__item_social"><a href="https://pin.it/1exJYEM" class="navigation__link_social"> pinterest</a></li>
                    </ul>
                
            </div>
        </div>
    </div>
    
 
</div>
<!--Header sidebar End-->  

<!--search overlay-->

<div class="dropdown_search dropdown_search_two">
    <div class="search_close_btn">
        <i class="ion-android-close btn-close"></i>
    </div>
    <div class="search_container" >
        <form action="#" >
            <input placeholder="You're looking for...." type="text">
            <button type="submit"><i class="ion-ios-search-strong"></i></button>
        </form>
    </div>
</div>

<!--search overlay end-->

<!--Offcanvas menu area start-->

<div class="off_canvars_overlay" id="over" >
            
</div>
<div class="Offcanvas_menu Offcanvas_menu_two">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="canvas_open">
            <span class="search_bar search_icon"> <a  href="javascript:void(0)"><i class="ion-ios-search-strong"></i></a></span>

                <img src="../../assets/img/logo/moon.png" id="canvas"  style="width:25px;height:25px; margin-right:20px;">

                    <!--<span><a href="#">login</a></span>-->
                    <span class="navigate_icon  navi_icon "> <a href="javascript:void(0)"><i class="ion-navicon"></i></a></span>
                </div>
                <div class="Offcanvas_menu_wrapper">
                    <div class="canvas_close ">
                          <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                    </div>
                    <div class="header_block_right block_right_two">
                        <!-- <ul>
                            <li class="search_bar"><a href="javascript:void(0)"><i class="ion-ios-search-strong"></i></a>
                                <div class="dropdown_search">
                                    <div class="search_close_btn">
                                        <i class="ion-android-close btn-close"></i>
                                    </div>
                                    <div class="search_container">
                                        <form action="#">
                                            <input placeholder="I’m shopping for..." type="text">
                                            <button type="submit"><i class="ion-ios-search-strong"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="mini_cart_wrapper"><a href="javascript:void(0)">login</a>
                            </li>
                            <li class="setting_container"><a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                                <div class="setting_wrapper setting_wrapper_two">
                                    <div class="setting_close_btn">
                                        <i class="ion-android-close btn-close"></i>
                                    </div>
                                    
                                    
                                </div>
                            </li>
                        </ul> -->
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <nav class="navigation__nav ">
                                <ul class="navigation__list" style="margin-top:-10px;">
                                    <li class="navigation__item"><a href="stories.php" class="navigation__link">stories</a></li>
                                    <li class="navigation__item"><a href="shorts.php" class="navigation__link">shorts</a></li>
                                   <!-- <li class="navigation__item"><a href="#" class="navigation__link">&nbsp;&nbsp;Art&nbsp;&nbsp;</a></li>-->
                            
                                    <li class="navigation__item extra">  
                                    <a class="navigation__link"    href= "about-us.php"  >About</a> 
                                    <!-- <?php  
                                    // if($years >= '18'){
                                    //   echo ' <a class="navigation__link"    href= "about-us.php"  >About</a> ' ;
                                    // }
                                    // else{
                                    //     echo '<a class="navigation__link"    href= "index.php"  >About</a> ';
                                    // }
                                    ?> -->
                                    </li>
                                   <!-- <li class="navigation__item"><a href="#" class="navigation__link">Contact us</a></li>-->
                        <li class="navigation__item"><a href="contactus.php" class="navigation__link">Contact Us </a></li>
                                    
                                </ul>
                            </nav>
                            
                        </ul>
                    </div>

                    

                    <div class="Offcanvas_footer">
                    <!-- <span><a href="#"><i class="fa fa-envelope-o"></i>                        info@yourdomain.com</a></span> -->
                     <ul>
                            <li class="instagram    "><a href="https://instagram.com/tbs.spook?utm_medium=copy_link">instagram</a></li>
                            <li class="pinterest"><a class= "ml-90" href="https://pin.it/1exJYEM">pintrest</a></li><br><br>
                            <li class="redit"><a href="https://www.reddit.com/u/spook_baby?utm_medium=android_app&utm_source=share">reddit</a></li>
                            <li class="twitter"><a class= "ml-90" href="https://twitter.com/atablespoonofs1?s=0">twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- nav ends -->


