<!-- ROW 1 -->
<div class="container con-box" style="padding-left: 20px;">
    <h3 style="text-align: center;font-size:35px;">STORIES</h3>
    <div class="border"></div>
    <div class="row mt-30">
    <div class="col-lg-4 col-sm-12 mt-25 ">
            <a href="../story-internal">
            <div class="storiesbg3 storiesbg">
               <img src="../../assets/img/home/FG/04a.jpg" >
            </div>
            </a>
            <br>
            <h3>Nucly</h3><br>
            <p class="font-bold">lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
    </div>

        <!-- <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg2 storiesbg">
                <img src="assets/img/home/FG/01a.jpg">
            </div>
            <br>
            <p2>Nucly</p2><br>
            <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
        </div>
        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg3 storiesbg">
                <img src="assets/img/home/FG/04a.jpg">
            </div>
            <br>
            <p2>Nucly</p2><br>
            <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
        </div> -->
    </div>
 </div>

<!-- ROW 2 -->
<!-- <div class="container mt-60">
    <div class="row mt-60">
        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg4 storiesbg">
                <img src="assets/img/home/FG/02a.jpg">
            </div>
            <br>
            <p2>Nucly</p2><br>
            <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
        </div>

        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg5 storiesbg">
                <img src="assets/img/home/FG/05a.jpg">
            </div>
            <br>
            <p2>Nucly</p2><br>
            <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
        </div>
        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg6 storiesbg">
                <img src="assets/img/home/FG/06a.jpg">
            </div>
            <br>
            <p2>Nucly</p2><br>
            <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
        </div>

    </div>
</div>-->

<!-- ROW 3 -->
<!--<div class="container mt-60">
    <div class="row mt-60">
        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg7 storiesbg">
                <img src="assets/img/home/FG/07a.jpg">
            </div>
            <br>
            <p2>Nucly</p2><br>
            <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
        </div>

        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg8 storiesbg">
                <img src="assets/img/home/FG/08a.jpg">
            </div>
            <br>
            <p2>Nucly</p2><br>
            <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
        </div>
        <div class="col-lg-4 col-sm-12 mt-25">
            <div class="storiesbg9 storiesbg">
                <img src="assets/img/home/FG/09a.jpg">
            </div>
            <br>
            <p2>Nucly</p2><br>
            <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
        </div>
    </div>
</div> -->



