<!-- ROW 2 -->
<div class="container mt-30">
    <a href="shorts.php" style="text-decoration: none;"><h1>SHORTS</h1></a>
        <hr style="height:1.5px; border-width:0;background-color: var(--secondary-color)">
        <div class="row mt-30">
            <!--<div class="col-lg-4 col-sm-12 mt-25">
                <div class="storiesbg4 storiesbg">
                    <img src="assets/img/home/FG/02a.jpg">
                </div>
                <br>
                <p2>lorem ipsum</p2><br>
                <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
            </div>-->

            <!-- <div class="col-lg-4 col-sm-12 mt-25">
                <div class="storiesbg5 storiesbg">
                    <img src="assets/img/home/FG/05a.jpg">
                </div>
                <br>
                <div class="wrapper"><div class="typing-demo"><b><i>Coming Soon.</i></b></div></div>
            </div>
            <div class="col-lg-4 col-sm-12 mt-25">
                <div class="storiesbg6 storiesbg">
                    <img src="assets/img/home/FG/06a.jpg">
                </div>
                <br>
                <div class="wrapper"><div class="typing-demo"><b><i>Coming Soon.</b></i></div></div>
            </div> -->
            <div class="col-lg-4 col-sm-12 mt-25">
            <!-- <img src="assets/img/home/BG/crow.jpg" class="img-fluid w-100 h-50">
            <img src="assets/img/home/FG/crow1.jpg" class="box img-fluid w-100 h-50"> -->
                <!-- <h5> 18+ </h5> -->
                <br>
                <!-- <?php  
                // if($years >= '18'){
                //   echo ' <a href="shorts-internal.php"> <div class="storiesbgcrow storiesbg"> 
                //     <img src="assets/img/home/FG/crow1.jpg">
                //     </div> </a> ' ;
                // }
                // else{
                //     echo ' <a href="index.php"> <div class="storiesbgcrow storiesbg"> 
                //     <img src="assets/img/home/FG/crow1.jpg">
                //     </div> </a> ';
                // }
                ?> -->
                <a href="shorts-internal.php"> <div class="storiesbgcrow storiesbg"> 
                     <img src="assets/img/home/FG/crow1.jpg">
                     </div> </a>
                <br>
                <h4> They Never Forget </h4>
                <!-- <div class="wrapper"><div class="typing-demo"><b>They  Never forget</b></div></div> -->
            </div>
           <!-- <div class="col-lg-12 col-sm-12 mt-23">
                <div class="knowmore_arrow">
                    <i class="fa fa-angle-double-right"></i>
                </div>
            </div>
-->



        </div>
    </div>

<!-- ROW 3 -->
    <!--<div class="container mt-30">
        <p1>ART</p1>
        <hr style="height:1.5px; border-width:0;background-color: var(--secondary-color)">
        <div class="row mt-30">
            <div class="col-lg-4 col-sm-12 mt-25">
                <div class="storiesbg7 storiesbg">
                    <img src="assets/img/home/FG/07a.jpg">
                </div>
                <br>
                <p2>lorem ipsum</p2><br>
                <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
            </div>

            <div class="col-lg-4 col-sm-12 mt-25">
                <div class="storiesbg8 storiesbg">
                    <img src="assets/img/home/FG/08a.jpg">
                </div>
                <br>
                <p2>lorem ipsum</p2><br>
                <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>
            </div>
            <div class="col-lg-4 col-sm-12 mt-25">
                <div class="storiesbg9 storiesbg">
                    <img src="assets/img/home/FG/09a.jpg">
                </div>
                <br>
                
                <p2>lorem ipsum</p2><br>
                <p3>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p3>s
            </div>

            <div class="col-lg-12 col-sm-12 mt-25">
                <div class="knowmore_arrow">
                    <i class="fa fa-angle-double-right"></i>
                </div>
            </div>

-->

        <!-- </div>
    </div> -->
    <br>
<br>
<br>